extends ../layout2

block content
    div.container.mt-5
        div.mt-5(style='text-align: center;')
            button.btn.btn-primary(style='width: 80%; height: 100px; font-size: 2em;') 게시판 ㄱㄱ
            