extends ../layout2

block content
    div.container.mt-5
        div.mt-5(style='text-align: center;')
            div(class='col-lg-12')
                div(id='condensedTable' class='body collapse in')
                    table(class='table table-condensed responsive-table')
                        thead
                            tr
                                th Num
                                th Name
                                th Subject
                                th Regist Date
                        tbody
                            
                        