extends ../layout2

block addhead
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.7/summernote.css')

block content    
    div(style='height: 30px')
    form(name='write_form' method='post' action='/moon/post')
        div(class='content_box')
            div(class='subject_line')
                input(class='text_box' name='name' placeholder='작성자')
            div(style='height: 30px')
            div(class='subject_line')
                input(class='text_box' name='subject' placeholder='제목을 입력해주삼.')            
            div(style='height: 30px')
            div(class='contents')
                textarea(id='content' name='content')
            div(style='text-align: center;')
                button(type='submit') 작성

block addscript
    script(src='http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.7/summernote.js')
    script(src='/js/moon_scripts.js')

