body {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.content_box {
    position: relative;
    width: 1024px;
    margin: 0 auto;
    height: auto;
}

.subject_line {
    width: 100%;
    height: 30px;
}

.text_box {
    width: 100%;
    height: 30px;
    font-size: 24px;
}

.pagination {
    width: 60%;
    margin: 0 auto;
}

.pagination > li {
    width: 30px;
    height: 30px;
    float: left;
}